.logo{
 height: 60px;
 width:161px;
}
.nav navbar-nav{
 height:60px;
}
body{
  font-family: "Arial Black", Gadget, sans-serif;
}
.question{
	font-weight: 600;
}
.answers {
  margin-bottom: 20px;
}
.answers label{
  display: block;
}